@using MyWebProject.Models
@model Course
@{
    ViewBag.Title = "CEdit";
}


<div class="container col-lg-3 col-lg-push-3">
    <div class="panel  panel-primary ">
        <div class="panel-heading">
            Edit Course Details @Model.Id
        </div>
        <div class="panel-body ">
            <form action="/Home/CEdit" method="post">
                <input type="hidden" value="@Model.Id">
                <div class="form-group">
                    <label for="email"> Course Title :</label>
                    <input type="text" class="form-control" id="email" name="Title" value="@Model.Title">
                </div>
                <div class="form-group">
                    <label for="cemail">Cost :</label>
                    <input type="text" class="form-control" id="cemail" name="Cost" value="@Model.Cost">
                </div>
                <div class="form-group">
                    <label for="demail">Description :</label>
                    <input type="text" class="form-control" id="demail" name="Description" value="@Model.Description">
                </div>


                <button type="submit" class="btn btn-primary">Add Now</button>
            </form>
        </div>
    </div>
</div>